.container {
	max-width: 500px;
	margin: 30px auto; /* 30px em cima e embaixo e auto para ficar no meio*/
	overflow: auto;
	min-height: 300px;
	border: 2px solid chartreuse;
	padding: 30px;
	border-radius: 10px;
}